@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Raleway:wght@300;400;700&family=Bigelow+Rules&display=swap");
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  width: 97vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, #071b52), to(teal));
  background: linear-gradient(270deg, #071b52 0, teal);
  margin-top: 1rem;
  border-radius: 10px;
}

.main-section {
  color: #1e0e0e;
  padding: 30px 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 122px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -23px;
}

.navigation__logo {
  font-size: 65px;
  font-family: "Bigelow Rules", cursive;
  color: yellow;
}

.navigation__menu--btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #e2e20f;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation__menu:hover {
  color: #897d7d;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", "Helvet";
  padding-right: 5px;
}

.home__left {
  background-color: #ffec55;
  border-radius: 30px 8px 8px 30px;
  margin-right: 5px;
}

.home__left--banner {
  border-radius: 30px 2px;
  height: 150px;
  width: 100%;
}

.home__left--title h2 {
  font-size: 15px;
  color: #000;
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: 500;
}

.home__left .movieBox {
  padding: 0 5px;
  background: #252121;
  border-radius: 10px;
  margin-bottom: 45px;
}

.home__left .movieBox__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5px;
}

.home__left .movieBox__head h2 {
  font-size: 13px;
}

.home__left .movieBox__movielist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.home__left .movieBox__movielist__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
}

.home__left .movieBox__movielist--img {
  height: 60px;
  width: 60px;
  border-radius: 13px;
}

.home__left .movieBox__movielist--rating {
  color: yellow;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 5px;
}

.home__left .movieBox__btn {
  font-size: 0.6rem;
  text-align: center;
  cursor: pointer;
}

.home__right {
  background: radial-gradient(65% 100% at 50% 0%, #00ff94 0%, rgba(0, 255, 148, 0.25) 100%), linear-gradient(230deg, #000000 25%, #170059 100%), linear-gradient(215deg, #ffebb9 10%, #19004e 80%), radial-gradient(100% 245% at 100% 100%, #ffffff 0%, #000353 100%), linear-gradient(125deg, #1400ff 0%, #3a0000 100%), linear-gradient(225deg, #00f0ff 30%, #000b6f 45%, #00ebfc 45%, #001676 65%, #00e1f6 65%, #001676 85%, #00ecfd 85%, #001676 100%), linear-gradient(135deg, #00f0ff 0%, #000b6f 15%, #00ebfc 15%, #001676 35%, #00e1f6 35%, #001676 55%, #00ecfd 55%, #001676 100%);
  background-blend-mode: soft-light, screen, overlay, overlay, difference, overlay, normal;
  border-radius: 8px 30px 30px 8px;
}

.home__right .search-bar {
  background: #f4f4f4;
  font-weight: 500;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 8px;
}

.home__right .slider {
  height: 200px;
}

.home__right .slider img {
  border-radius: 12px;
}

.home__right .movie-menu {
  margin-top: 10px;
  margin-top: 135px;
  padding: 0 10px;
}

.home__right .movie-menu img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.home__right .movie-menu__upcoming {
  position: relative;
  overflow: hidden !important;
}

.home__right .movie-menu__upcoming--hover {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  margin-bottom: -32px;
}

.home__right .movie-menu__upcoming:hover .movie-menu__upcoming--hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #5617b5;
  color: red;
  height: 100%;
  margin: 0 12px;
  border-radius: 10px;
  background: #13d1dae6;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 200px;
}

.explore img {
  width: 55%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* width: 90%; */
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .main-section {
    padding: 0 10px 5px 10px;
  }
  .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px;
  }
  .navigation__logo {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */